<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts.js"></script>
  </head>
  <header class="text-center">
    <h1>Wildlife Tracker</h1>
    <h3><a href="/" id="home-button">Home</a></h3>
  </header>
  <body>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
